* {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#title{
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 10px;
}
/* #comment{
    background-color: red;
    color: black;
    width: fit-content;
} */
.div{
    overflow: auto;
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 90%;
    background-color: white;
    height: fit-content;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

#myTable{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    overflow: auto;
}
#myTable td{
    padding: 10px;
}
#firstRow{
    border: 1px solid dodgerblue;
    border-radius: 20px;
    border-width: 5px;
}
#secondRow{
    border: 1px solid dodgerblue;
    border-radius: 20px;
    border-width: 5px;
}
